{% extends 'base.html' %}

{% block title %}
<title>All Tanks</title>
{% endblock %}

{% block content %}
<h1>My Tanks</h1>

{% for tank in tanks %}
<div class="row">
    <div class="col s6">
        <div class="card-content">
            <div class="card">
                <span class="card-title">{{tank.size}} Gallon Tank</span>
                <div class="card-action">
                    <a href="{% url 'tank_update' tank.id %}">Update</a>
                    <a href="{% url 'tank_delete' tank.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}