{% extends 'base.html' %}

{% block content %}
<h6>Welcome to our pet fish app! This app is created to help fish owners keep track of their fish and their fish stories. Whether you're a seasoned fish keeper or just getting started, this app is designed to make it easy for you to keep track of your fish's details, including their breed, age and the tanks that they are in. You can also upload photos of your fish. So take a dive into our app and start exploring the wonderful world of pet fish!</h6>
{% endblock %}